.container {
  display: grid;
  grid-template-columns: 1.7fr 0.7fr;
  grid-template-rows: 1fr;
  grid-template-areas: "left-sub-container right-sub-container";
  margin: 0 auto 1rem;
  max-width: 60rem;
  padding: 1.5rem 0;
  width: 88%;
  grid-column-gap: 2.5rem;

  @media screen and (max-width: 1024px) {
    width: 94%;
  }

  @media screen and (max-width: 990px) {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0;
    grid-template-areas: "left-sub-container";
  }

  @media screen and (max-width: 480px) {
    width: 90% !important;
  }

  .left-sub-container {
    grid-area: left-sub-container;
  }

  .right-sub-container {
    grid-area: right-sub-container;
    @media screen and (max-width: 990px) {
      display: none;
    }
  }
}
