.profile-background {
  width: 100%;
  height: 14rem;
  background: url("../../public/images/profile-background.webp");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

.profile-img-container {
  width: 160px;
  height: 160px;
  position: relative;
  top: 10rem;
  left: calc(50% - 80px);
  border-radius: 50%;

  @media screen and (max-width: 1024px) {
    width: 130px;
    height: 130px;
    left: calc(50% - 65px);
  }

  @media screen and (max-width: 480px) {
    width: 120px;
    height: 120px;
    left: calc((100% - 120px) / 2);
  }

  img {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.center {
  width: 100%;
  height: calc(100vh - 65px);

  display: flex;
  justify-content: center;
  align-items: center;
}

.profile-username {
  position: relative;
  margin: 5.5rem 0 0;
  width: 60%;
  text-align: center;
  font-size: 2rem;
  word-break: break-all;
  margin-left: auto;
  margin-right: auto;

  @media screen and (max-width: 1024px) {
    margin-top: 3.8rem;
    font-size: 1.5rem;
  }

  @media screen and (max-width: 480px) {
    margin-top: 3.2rem;
    font-size: 1.2rem;
  }
}

.profile-options {
  position: absolute;
  margin: 0.5rem 1rem;
  font-size: clamp(10px, 5vw, 16px);

  .profile-options-inner {
    display: flex;
    gap: 1rem;
    padding: 0.5rem;
    border-radius: 8px;
    font-size: 15px;

    @media screen and (max-width: 768px) {
      font-size: 12px;
    }

    .profile-option-1,
    .profile-option-2 {
      padding: 0.5rem;
      border-radius: 5px;
      color: white;
      background-color: rgba(19, 35, 72, 0.216);
      cursor: pointer;

      &:hover {
        background-color: rgba(33, 65, 140, 0.616);
      }
    }
  }
}

.profile-main {
  width: 95%;
  max-width: 60rem;
  margin: auto;
  padding-top: 8rem;

  @media screen and (max-width: 700px) {
    width: 90%;
  }
}

.no_screams {
  text-align: center;
}

.divider {
  width: 100%;
  background-color: rgb(34, 85, 227);
  height: 2px;
  margin: 0.2rem 0;
}

.screams {
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;

  @media screen and (max-width: 700px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
    grid-row-gap: 0.8rem;
  }

  @media screen and (max-width: 460px) {
    grid-template-columns: 1fr;
  }
}
