$blue: #2666cf;

.main {
  display: flex;
}

.scream-profile-image {
  display: block;
  width: 17vw;
  max-width: 170px;
  min-width: 130px;
  height: 100%;
  border-radius: 5px;

  img {
    width: 13vw;
    min-width: 130px;
    max-width: 170px;
    height: 100%;
    border-radius: 5px;
    object-fit: cover;
  }
}

.scream-body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.8rem 1.5rem 0.8rem 1.2rem;
  width: 100%;

  .name {
    color: $blue;
    font-size: clamp(14px, 1.4vw, 20px);
  }

  .timeago {
    color: rgba($color: #000000, $alpha: 0.5);
    font-size: clamp(12px, 1.1vw, 15px);
  }

  .body {
    color: black;
    font-size: clamp(12.5px, 1.1vw, 15px);
    margin: 0.5rem 0;
    word-wrap: break-word;

    // @media screen and (max-width: 800px) {
    //   margin: 0.2rem 0;
    // }
  }

  .actions {
    display: flex;
    justify-content: space-between;
    font-size: clamp(14px, 1.3vw, 16px);
    margin-top: 0.1rem;
    // @media screen and (max-width: 800px) {
    //   margin-top: 0rem;
    // }
  }
}

.actions_one {
  display: flex;
  justify-content: center;

  > span {
    display: flex;
    align-items: center;
    margin: 0 0.5rem;

    &:nth-child(2) {
      svg {
        margin-top: 0.4rem;
      }
    }
  }

  .actions_text {
    font-size: clamp(12px, 1.1vw, 15px);
  }
}

.actions_one span .like {
  width: 1rem;
  margin: 0 0.6rem;
  cursor: pointer;

  // @media screen and (max-width: 800px) {
  //   width: 0.8rem;
  // }
}

.actions_one span .comment {
  margin: 0 0.6rem;
  cursor: pointer;

  @media screen and (max-width: 800px) {
    // width: 1.1rem;
    height: max-content;
  }
}

.actions-two {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.5rem;
  font-size: clamp(13px, 1.3vw, 16px);
  text-align: center;

  span {
    cursor: pointer;
    margin-top: auto;
  }

  @media screen and (max-width: 1024px) {
    margin: 0.6rem 0.6rem 0.8rem;
  }

  svg {
    cursor: pointer;
    @media screen and (max-width: 1024px) {
      width: 22px;
      height: 22px;
    }
  }
}

.expand {
  width: 20px;
  height: 20px;

  @media screen and (max-width: 1024px) {
    width: 16px;
    height: 16px;
  }
}
