@mixin card-base-prop {
  -webkit-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  -moz-box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  margin-bottom: 1rem;
  border-radius: 5px;
}

.scream {
  width: 100%;
  height: 13vw;
  max-height: 170px;
  min-height: 130px;
  @include card-base-prop();
}

.profile {
  max-width: 100%;
  height: 35vw;
  max-height: 21rem;
  @include card-base-prop();
}
