.dropdown-menu {
  position: absolute;
  top: 65px;
  width: 100%;
  display: inline-block;
}

.menu-content {
  display: block;
  position: absolute;
  background-color: #017575;
  min-width: 100%;
  z-index: 1;
}

.links {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  font-size: 18px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.links:hover {
  background-color: rgb(8, 107, 46);
}

@media screen and (min-width: 640px) {
  .menu-content {
    display: none;
  }
}
